<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div layout:fragment="content">
        <p class="title-Link text-primary">Orders ></p>
        <header>
            <h1>Welcome to Orders</h1>
        </header>
        <section>
            <p>This is a simple home page created with Spring Boot.</p>
        </section>
    </div>


</body>

</html>