<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/linkcdn}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div th:fragment="content">


        <section class="container">
            <header class="bg-dark text-white text-center">
                <h1>Create Account Successfull!</h1>
            </header>
            <dt class="mt-5">Look Your email!</dt>
            <dl>Login from receive email link.</dl>
            <button class="btn bg-success mt-3 text-light " onclick="location.href='/'"> Go To Login => </button>
        </section>



    </div>
</body>

</html>